@model Address

<span><strong>City: </strong>@Model.City</span>
    <span><strong>Street: </strong>@Model.Street</span>
    <span><strong>Zip Code: </strong>@Model.ZipCode</span>
    <span><strong>Suite: </strong>@Model.Suite</span>
    <span><strong>Location: </strong>@Model.Geo.Lat : @Model.Geo.Lng</span>